!!!
%html{lang: 'en', data: { ng_app: 'shareupApp' } }
  %head
    %meta{charset: 'utf-8'}
    %meta{http_equiv: 'X-UA-Compatible', content: 'IE=Edge,chrome=1'}
    %title= content_for?(:title) && yield(:title) || "Shareup"
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
  %body
    .container
      %div{ data: { ng_view: '' } }

    = javascript_include_tag "application"
